[Unit]
Description=Starts the backup process
After=multi-user.target

[Service]
ExecStart=/home/pi/backupstation/backup.venv/bin/python3 backup_ctrl.py
WorkingDirectory=/home/pi/backupstation/src/backup-py

StandardOutput=inherit
StandardError=inherit

Restart=on-failure

User=pi

[Install]
WantedBy=multi-user.target
